modules/__pycache__/
.vscode/
build/
dist/
test/*.html
test/temp/*.html
__pycache__/
Converter.spec
*.mobi
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/stepwise
Pipfile
Pipfile.lock
